<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CARMEDIAConnectionString" connectionString="Data Source=MARK\MSSQLSERVER2014;Initial Catalog=CARMEDIA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <!--Direciona as páginas não autorizadas para "admin/Default.aspx"-->
    <authentication mode="Forms">
      <forms loginUrl="admin/Default.aspx"></forms>
    </authentication>
    <!--Fim do direcionamento das páginas não autorizadas-->
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
 <!--Bloqueia o acesso de pessoas não autorizadas nas páginas administrativas-->
<location path="admin">
    <system.web>
        <authorization>
          <deny users="?"/>
        </authorization>
    </system.web>
</location>
  <!--Fim bloqueio das páginas não autorizadas-->
  
 <!--Corrige o erro na tela de login ao usar o RequiredFieldValidator-->   
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--Fim da correção do erro RequiredFieldValidator na tela de login-->

</configuration>